@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

table {
  counter-reset: section;
}

.count:before {
  counter-increment: section;
  content: counter(section);
}
body{
  
  line-height: 1.5;
  font-family: 'Merriweather', serif !important;
}

.sfondo {
  background-image: url("https://cdn.pixabay.com/photo/2014/03/18/23/18/blue-290314_1280.jpg");
  background-size: cover;
}

.jumbotron{
  background: lightblue !important;
}

#Title{
  font-family: 'Lobster', cursive;
}
#Shadow{
  text-shadow: 2px 2px 5px white ;
}

.fade-in {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }